<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>

<body>
    <h3>To delete user : <%= user.email %> enter the password</h3>
    <form action="/user/<%= user.id %>?_method=DELETE" method="post">
        <input name="password" placeholder="Enter the password">
        <button>Delete</button>
    </form>
</body>

</html>