<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <form action="/user/new" method="POST">
        <input type="email" name="email" placeholder="Enter your email"/>
        <input type="username" name="username" placeholder="Enter your username"/>
        <input type="password" name="password" placeholder="Enter your password"/>
        <button>Submit</button>
    </form>
</body>
</html>